<div class="relative w-full min-w-64" (click)="input.focus()">
  <!-- FIXME label for is not working -->
  <input
    #input
    [type]="type"
    [id]="id"
    class="peer focus:border-primary focus:ring-primary text-text w-full rounded-md border border-gray-800 px-3 pt-3 pb-2 focus:border-green-500 focus:ring-1 focus:outline-none dark:border-gray-300 dark:text-gray-300"
    [class.border-red-500]="
      formControl.invalid && (formControl.touched || formControl.dirty)
    "
    [class.dark:border-red-500]="
      formControl.invalid && (formControl.touched || formControl.dirty)
    "
    placeholder=" "
    [formControl]="formControl"
  />
  <!-- FIXME theme switching makes label blink -->
  <label
    [for]="id"
    class="peer-focus:text-primary bg-background dark:bg-dark-background absolute -top-3 left-3 cursor-text px-1 text-sm text-gray-800 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-gray-400 peer-focus:-top-3 peer-focus:px-1 peer-focus:text-sm dark:text-gray-300"
  >
    {{ label }}
  </label>
  @if (errorMessage !== '' && errorMessage !== undefined) {
    <div
      class="mx-4 text-start text-xs text-ellipsis text-red-700 dark:text-red-300"
    >
      <span>{{ errorMessage }}</span>
    </div>
  }
</div>
