<div class="flex justify-center items-center h-screen">
  <div class="border border-gray-300 p-5 rounded-lg shadow-md text-center w-72">
    <h2 class="text-xl font-semibold mb-4">Welcome to my personal cloud</h2>
    @if(error !== '') {
    <div
      class="mb-4 p-2 w-full text-red-700 bg-red-100 border border-red-300 rounded-md"
    >
      <span>{{ error }}</span>
    </div>
    }
    <input
      type="text"
      placeholder="Username"
      class="mb-2 p-2 w-full border border-gray-300 rounded-md"
      [(ngModel)]="credentials.username"
    />
    <input
      type="password"
      placeholder="Password"
      class="mb-2 p-2 w-full border border-gray-300 rounded-md"
      [(ngModel)]="credentials.password"
      (keydown.enter)="onLoginClicked()"
    />
    <div class="mb-4 text-right">
      <span
        class="text-blue-500 hover:underline"
        (click)="onRegisterRequested()"
        >Not registered yet?</span
      >
    </div>
    <button
      type="submit"
      class="p-2 w-full bg-blue-500 text-white rounded-md hover:bg-blue-600"
      (click)="onLoginClicked()"
    >
      Log In
    </button>
  </div>
</div>
