<div
  class="bg-background dark:bg-dark-background from-background to-primary dark:to-dark-background h-full bg-radial transition-colors duration-500 dark:from-slate-600"
>
  <header class="flex flex-row px-4 pt-2">
    <div class="basis-96/100">
      <img class="inline-block h-8" src="LogoPersonalCloud.svg" />
    </div>
    <button
      class="basis-4/100 cursor-pointer justify-self-end overflow-hidden rounded-full"
      (click)="toggleTheme()"
    >
      <div
        class="my-auto h-full w-full transition-transform duration-500"
        [ngClass]="{ 'rotate-animation': isAnimating }"
      >
        @if (!isDarkTheme()) {
          <span class="text-2xl">🌞</span>
        } @else {
          <span class="text-2xl">🌜</span>
        }
      </div>
    </button>
  </header>
  <body class="h-full">
    <router-outlet></router-outlet>
  </body>

  <footer
    class="text-text/80 dark:text-dark-text/80 absolute bottom-2.5 flex w-full items-center justify-center space-x-2 text-center"
  >
    <span class="text-text dark:text-dark-text">
      Created by Matteo Stefanelli
    </span>
    <a [href]="repoLink" class="flex items-center">
      <img class="inline-block h-5" src="assets/github-brands-solid.svg" />
    </a>
    <span>2025 MIT License</span>
  </footer>
</div>
