/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss' as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-background: #ecf0f1;
  --color-text: #2c3e50;
  --color-primary: #3498db;
  --color-secondary: #bdc3c7;
  --color-accent: #f1c40f;

  --color-dark-background: #2c3e50;
  --color-dark-text: #ecf0f1;
  --color-dark-primary: #2980b9;
  --color-dark-secondary: #95a5a6;
  --color-dark-accent: #f39c12;
}
